nav {
  position: sticky;
  top: 0;
  background-color: rgb(164 171 179);
}

body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}

.home-banner {
  background-image: url("/assets/raw/banner.webp");
  min-height: max(calc(100vh - 60px), 500px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

/* .home-banner * {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
} */
.table-break-700 {
  max-width: 1000px;
}
.home-banner-content {
  width: 100%;
  color: white;
}

.story-banner {
  min-height: max(calc(100vh - 60px), 500px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-color: rgb(255, 255, 255);
}

.projects-banner {
  min-height: max(calc(100vh - 60px), 500px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-color: rgb(237, 234, 234);
}

.banner {
  min-height: max(calc(100vh - 120px), 500px);
}

@media only screen and (max-width: 1000px) {
  .home-banner-title {
    font-size: 80px !important;
  }
  .trans-title {
    font-size: 30px !important;
  }
  .projects-banner {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .mt {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .celb h1 {
    font-size: 70px !important;
  }
  footer {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 700px) {
  .home-banner-title {
    font-size: 60px !important;
  }
  .table-break-700 {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .start {
    align-items: center !important;
    text-align: center;
  }
  .celb h1 {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 550px) {
  .r {
    flex-direction: column;
  }
  .celb h1 {
    font-size: 50px !important;
  }
}

@media only screen and (max-width: 500px) {
  .home-banner-title {
    font-size: 50px !important;
  }
  nav * {
    font-size: 14px !important;
  }
  .h1-span {
    font-size: 50px !important;
  }
  .celb h1 {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 400px) {
  .celb h1 {
    line-height: 1 !important;
  }
}
@media only screen and (max-width: 350px) {
  .home-banner-title {
    font-size: 40px !important;
  }
  nav * {
    font-size: 12px !important;
  }
}

footer {
  min-height: max(calc(100vh - 60px), 500px);
  background-color: rgb(163, 140, 49);
}

.card:hover {
  box-shadow: 2px 2px 2px 0 grey;
}
